<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Answer</title>
</head>
<body>
<h1>Add Answer for Question: [[${question.content}]]</h1>

<form th:action="@{'/answers/save/' + ${question.id}}" th:object="${answer}" method="post">
  <label for="content">Your Answer:</label>
  <textarea id="content" th:field="*{content}" placeholder="Write your answer here" required></textarea>
  <br>
  <button type="submit">Submit Answer</button>
</form>

<a th:href="@{'/answers/' + ${question.id}}">Back to Answers</a>
</body>
</html>