<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Answers</title>
</head>
<body>
<h1>Answers for Question: [[${question.content}]]</h1>

<!-- List of answers -->
<table>
  <thead>
  <tr>
    <th>Answer</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="answer : ${answers}">
    <td th:text="${answer.content}"></td>
    <td>
      <a th:href="@{'/answers/edit/' + ${answer.id}}">Edit</a>
      <a th:href="@{'/answers/delete/' + ${answer.id}}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<!-- Add a new answer -->
<a th:href="@{'/answers/new/' + ${question.id}}">Add Answer</a>
<a href="/home">Back to Dashboard</a>
</body>
</html>