<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Answer</title>
</head>
<body>
<h1>Edit Answer</h1>

<form th:action="@{'/answers/update/' + ${answer.id}}" th:object="${answer}" method="post">
  <label for="content">Edit Answer:</label>
  <textarea id="content" th:field="*{content}" placeholder="Edit your answer here" required></textarea>
  <br>
  <button type="submit">Update Answer</button>
</form>

<a th:href="@{'/answers/' + ${answer.question.id}}">Back to Answers</a>
</body>
</html>